@use './../../scss/' as *;

button.outline {
  border-radius: 20px;
  padding: 0.5rem 1.8rem;
  max-width: 200px;
  background-color: transparent;
  color: $white;
  display: block;  
  font-size: 1.3rem;
  text-align: center;
  cursor: pointer;
  border: 2px solid $white;
  margin-right: 50px;
  transition: 0.3s transform ease;

  &:hover{
    background-color: $white;
    color: $primary-color;
    transform: scale(1.1);
  }



}