@use '@/scss' as *;

.movie-card {
  padding: 10px;
  width: 100%;
  transition: 200ms all ease-in;
  min-width: $card-size;
  width: $card-size;
}

.skeleton {
  border-radius: 8px;

  span {
    position: relative;
  }

  span::after {
    content: '';
    display: block;
    background-color: #ccc;
    z-index: 3;
    position: absolute;
    left: 0;
    top: -300px;
    width: 210px;
    height: 315px;
    border-radius: 8px;
    animation: skeleton-loading 1s linear infinite alternate;
  }

  h1 {
    display: inline-block;
    width: 100%;
    animation: skeleton-loading 1s linear infinite alternate;
    height: auto;
    border-radius: 5px;
    color: transparent;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 35%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.movie-card h1 {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  height: 36px;
  position: relative;
}

.movie-card img {
  object-fit: cover;
  border-radius: 8px;
  width: 210px;
  height: 315px;
}

.movie-card:hover {
  transform: scale(1.15);
  border-radius: 10px;
}

@include mobile {
  .movie-card img {
    width: 100%;
  }
}
