@use './../../scss/' as *;

.search-container {
  padding-top: 150px;
  padding-left: 50px;
  width: 80%;
  margin: 0 auto;

  input {
    font-size: 2rem;
    border-radius: 15px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #000;
    color: #494949;
  }

  button {
    font-size: 2rem;
    position: relative;
    left: -50px;
    padding: 0px 10px;
    border-radius: 30px;
    color: white;
    background-color: $primary-color;
    border: 0;
    cursor: pointer;
  }
}
